body {
   background-image: url("ciphermapmom.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    background-image: linear-gradient(90deg, transparent 5%, rgba(255, 255, 255, .6) 10%, rgba(255, 255, 255, .6) 90%, transparent 95%);
    text-align: center;
    padding: 0 15%;
  }
  h5 {
    background-image: linear-gradient(90deg, transparent 5%, rgba(255, 255, 255, .6) 15%, rgba(300, 255, 255, .6) 90%, transparent 95%);
    text-align: center;
}
#img{
    height: auto;
    width: 300px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
} 
.content:before{
    content: "";
    width: 50%;
    height: 50%;
    background-color: aqua;
    position: relative;
}
  .video{
    margin-left: auto;
    margin-right: auto;  
    width: 35%;
    max-width: 800px;
    height: 50%;
 }
